<!DOCTYPE html>

<html ng-app>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/../javascripts/startTest.js"></script>
  <script>
    $(document).ready(function(){
      $("#getNames").click(function(event){
        // Loading the file names.json to show in the page the name of all registered users
        if ($("#getNames").val() == "Show registered names") {
          $.getJSON('names.json', function(data) {
            var namesList = "";

            if (data.length == 0) {
              $("#namesList").html("No names registered yet. Be the first one :)");  
            } else {
              for(var i = 0; i < data.length; i++) {
                namesList += data[i].first_name + " " + data[i].last_name + "<br>";
              }
              $("#namesList").html(namesList);
            }
            
            $("#namesListText").fadeOut(800, function(){
              $("#namesList").fadeIn(800);
            });
          });
          $("#getNames").val("Hide registered names");
        } else {
          $("#namesList").fadeOut(800, function(){
            $("#namesListText").fadeIn(800);
          });
          $("#getNames").val("Show registered names");
        }
      });
    });
  </script>

  <body onload="onLoad()">

    <div>
      <h1>Reaction test (Weeks 1-4)</h1>

      <p id="desc">Click the button when the red circle becomes blue</p>
    </div>

    <!-- A red circle that becomes blue to measure the user reaction time -->
    <div id="divcircle">
      <svg id="svgelem" xmlns="http://www.w3.org/2000/svg">
        <circle id="circle" cx="50%" cy="50%" r="50" fill="red"/>
      </svg>
    </div>

    <!-- Buttons that triggers the events that control the reaction time test -->
    <div>
      <button id="startButton" type="button" onclick="startTest()">Click here to start</button>
      <button id="endButton" type="button" onclick="endTest()">Click</button>
    </div>

    <!-- Post method that register the name of the user -->
    <form action="./process_post" method="post">
      <div class="ex1">
        First Name: <input type="text" id="first_name" name="first_name" placeholder="First name"> <br>
        Last Name: <input type="text" id="last_name" name="last_name" placeholder="Last name"> <br>
        <input type="submit" value="Register name">
      </div>
    </form>

    <!-- Get method that shows to the user all the names that have been registered -->
    <form action="./process_get" method="get">
      <div class="ex1">
        <input type="submit" value="Get registered names">
      </div>
    </form>

    <div class="ex1">
      <p id="namesListText">Click below to show all registered names</p>
      <p id="namesList" style="display:none"></p>
      <input type="button" id="getNames" value="Show registered names">
    </div>

    <h1>Palindromes with AngularJS (Week 5)</h1>

    <div class="ex1" ng-controller="MyController">
      <input ng-model="word" type="text" placeholder="Type a palindrome">
      <button ng-click="verifyPalindrome()">Verify palindrome</button>
      <h2>{{ verifyResult }}</h2>
      <p>Palindromes typed so far:</p>
      <p ng-show="!palindromesList.length">None :(</p>
      <ul>
        <!-- Listing all palindromes inserted by the user so far -->
        <li ng-repeat="palindrome in palindromesList">{{ palindrome }}</li>
      </ul>
    </div>

    <script type="text/javascript">
      // Controller that verifies if the user input is a palindrome and manages the palindrome list
      function MyController($scope) {
        $scope.palindromesList = [];
        $scope.verifyPalindrome = function() {
          if ($scope.word == $scope.word.split("").reverse().join("")) {
            $scope.verifyResult = "It's a palindrome!";
            if (!$scope.palindromesList.includes($scope.word)) {
              $scope.palindromesList.push($scope.word);
            }
          } else {
            $scope.verifyResult = "It's not a palindrome.";
          }
        };
      };
    </script>

  </body>

</html>