body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

div.ex1 {
  padding: 25px;
}

ul {
  position: absolute;
  padding-left: 0;
  text-align: left;
  left: 50%;
}

#divcircle {
  position: relative;
}

a {
  color: #00B7FF;
}
